<header class="section sec1 header active" id="home">
  <div class="header-content">
    <div class="left-header">
      <div class="h-shape"></div>
      <div class="image">
        <img src="images/temp.png" alt="" />
      </div>
    </div>
    <div class="right-header">
      <h1 class="name">
        Hi, I am
        <span>Jenna Lee.</span><br />
        A Front-End Developer
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam,
      </p>
      <div class="btn-container">
        <a href="#" class="main-btn">
          <span class="btn-text">Download CV</span>
          <span class="btn-icon"><i class="ri-download-2-fill"></i></span>

        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="section sec2 about" id="about">
    <div class="main-title">
      <h2>About <span>me</span><span class="bg-text"> my stats</span></h2>
    </div>
    <div class="about-container">
      <div class="left-about">
        <h4>Information about me</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          <br /><br />
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p><br />
        <div class="btn-container">
          <a href="#" class="main-btn">
            <span class="btn-text">Download CV</span>
            <span class="btn-icon"><i class="ri-download-2-fill"></i></span>

          </a>
        </div>
      </div>
      <div class="right-about">
        <div class="about-item">
          <div class="about-text">
            <p class="large-text">30+</p>
            <p class="small-text">Projects<br />Completed</p>
          </div>
        </div>
        <div class="about-item">
          <div class="about-text">
            <p class="large-text">30+</p>
            <p class="small-text">Projects<br />Completed</p>
          </div>
        </div>
        <div class="about-item">
          <div class="about-text">
            <p class="large-text">30+</p>
            <p class="small-text">Projects<br />Completed</p>
          </div>
        </div>
        <div class="about-item">
          <div class="about-text">
            <p class="large-text">30+</p>
            <p class="small-text">Projects<br />Completed</p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-stats">
      <h4 class="stat-title">My Skills</h4>
      <div class="progress-bars">
        <div class="progress-bar">
          <p class="progress-title">html5</p>
          <div class="progress-container">
            <p class="progress-text">90%</p>
            <div class="progress">
              <span class="html"></span>
            </div>
          </div>
        </div>

        <div class="progress-bar">
          <p class="progress-title">CSS3</p>
          <div class="progress-container">
            <p class="progress-text">90%</p>
            <div class="progress">
              <span class="css"></span>
            </div>
          </div>
        </div>

        <div class="progress-bar">
          <p class="progress-title">JavaScript</p>
          <div class="progress-container">
            <p class="progress-text">80%</p>
            <div class="progress">
              <span class="javascript"></span>
            </div>
          </div>
        </div>

        <div class="progress-bar">
          <p class="progress-title">node.js</p>
          <div class="progress-container">
            <p class="progress-text">80%</p>
            <div class="progress">
              <span class="node"></span>
            </div>
          </div>
        </div>

        <div class="progress-bar">
          <p class="progress-title">Figma</p>
          <div class="progress-container">
            <p class="progress-text">70%</p>
            <div class="progress">
              <span class="figma"></span>
            </div>
          </div>
        </div>

        <div class="progress-bar">
          <p class="progress-title">something</p>
          <div class="progress-container">
            <p class="progress-text">100%</p>
            <div class="progress">
              <span class="something"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="stat-title">My Timeline</h4>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="ri-briefcase-fill"></i>
        </div>
        <p class="timeline-duration">February 2022 - Present</p>
        <h5>Web Designer</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore</p>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="ri-briefcase-fill"></i>
        </div>
        <p class="timeline-duration">July 2021 - january 2022</p>
        <h5>Graphic Designer</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore</p>
      </div>

    </div>

  </section>
  <section class="section sec3 portfolio" id="portfolio">
    <div class="main-title">
      <h2>My <span>Portfolio</span><span class="bg-text"> my works</span></h2>
    </div>
    <p class="portfolio-text">
      Here is some of my works that I've done in various programming languages.
    </p>
    <div class="portfolios">
      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio1.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>ManUp Project</h3>
          <div class="icons">
            <a href="www.github.com" class="icon" target="_blank">
              <i class="ri-github-fill"></i>
            </a>

            <a
              href="https://man-up-project.herokuapp.com/"
              class="icon"
              target="_blank"
            >
              <i class="ri-links-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio2.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Old Portfolio</h3>
          <div class="icons">
            <a href="www.github.com" class="icon" target="_blank">
              <i class="ri-github-fill"></i>
            </a>

            <a
              href="http://soyounglee.herokuapp.com/"
              class="icon"
              target="_blank"
            >
              <i class="ri-links-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio3.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Blog Page</h3>
          <div class="icons">
            <a
              href="https://hire-me.herokuapp.com/"
              class="icon"
              target="_blank"
            >
              <i class="ri-links-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio4.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Nara Express</h3>
          <div class="icons">
            <a
              href="http://expressnara.bu-bi.com/"
              class="icon"
              target="_blank"
            >
              <i class="ri-links-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio5.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Weather App</h3>
          <div class="icons">
            <a href="www.github.com" class="icon" target="_blank">
              <i class="ri-github-fill"></i>
            </a>
            <a
              href="https://elastic-noyce-43c89e.netlify.app/"
              class="icon"
              target="_blank"
            >
              <i class="ri-links-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio6.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a href="www.github.com" class="icon" target="_blank">
              <i class="ri-github-fill"></i>
            </a>
            <a
              href="https://gifted-torvalds-adbc19.netlify.app/"
              class="icon"
              target="_blank"
            >
              <i class="ri-links-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio1.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a href="www.github.com" class="icon" target="_blank">
              <i class="ri-github-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="image">
          <img src="images/portfolio1.png" alt="" />
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a href="www.github.com" class="icon" target="_blank">
              <i class="ri-github-fill"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="section sec4" id="blogs">
    <div class="main-title">
      <h2>My <span>Blogs</span><span class="bg-text"> my blogs</span></h2>
    </div>
    <div class="blogs">
      <div class="blog">
        <img src="images/computer.webp" alt="" />
        <div class="blog-text">
          <h4>How to Create Your Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
            ipsum nesciunt ducimus officia, nulla facilis neque dolores laborum
            ea fuga ullam optio error aliquam accusamus nostrum illo iure
            blanditiis facere!
          </p>
        </div>
      </div>

      <div class="blog">
        <img src="images/computer.webp" alt="" />
        <div class="blog-text">
          <h4>How to Create Your Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
            ipsum nesciunt ducimus officia, nulla facilis neque dolores laborum
            ea fuga ullam optio error aliquam accusamus nostrum illo iure
            blanditiis facere!
          </p>
        </div>
      </div>

      <div class="blog">
        <img src="images/computer.webp" alt="" />
        <div class="blog-text">
          <h4>How to Create Your Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
            ipsum nesciunt ducimus officia, nulla facilis neque dolores laborum
            ea fuga ullam optio error aliquam accusamus nostrum illo iure
            blanditiis facere!
          </p>
        </div>
      </div>

      <div class="blog">
        <img src="images/computer.webp" alt="" />
        <div class="blog-text">
          <h4>How to Create Your Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
            ipsum nesciunt ducimus officia, nulla facilis neque dolores laborum
            ea fuga ullam optio error aliquam accusamus nostrum illo iure
            blanditiis facere!
          </p>
        </div>
      </div>

      <div class="blog">
        <img src="images/computer.webp" alt="" />
        <div class="blog-text">
          <h4>How to Create Your Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
            ipsum nesciunt ducimus officia, nulla facilis neque dolores laborum
            ea fuga ullam optio error aliquam accusamus nostrum illo iure
            blanditiis facere!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section sec5 contact" id="contact">
    <div class="main-title">
      <h2>Contact <span>me</span><span class="bg-text">Hire me</span></h2>
    </div>
    <div class="contact-content-container">
      <div class="left-contact">
        <h4>Contact me here</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
          error ex consequatur natus obcaecati id quae sed nulla deserunt
          asperiores neque labore, ad saepe modi eaque ducimus unde. Sunt,
          excepturi.</p>
        <div class="contact-info">
          <div class="contact-item">
            <div class="icon">
              <i class="ri-map-pin-user-fill"></i>
              <span>Location</span>
            </div>
            <p>
              <span>: Toronto, Ontario</span>
            </p>

          </div>

          <div class="contact-item">
            <div class="icon">
              <i class="ri-at-fill"></i>
              <span>Email</span>
            </div>
            <p>
              <span>: soyounglee.ca@gmail.com</span>
            </p>

          </div>

          <div class="contact-item">
            <div class="icon">
              <i class="ri-lightbulb-flash-fill"></i>
              <span>Education</span>
            </div>
            <p>
              <span> : Georgian College</span>
            </p>

          </div>

          <div class="contact-item">
            <div class="icon">
              <i class="ri-phone-fill"></i>
              <span>Phone Number</span>
            </div>
            <p>
              <span>: +1 (416)732 6443</span>
            </p>

          </div>

          <div class="contact-item">
            <div class="icon">
              <i class="ri-earth-fill"></i>
              <span>Languages</span>

            </div>
            <p>
              <span>: English, Korean</span>
            </p>
          </div>
        </div>
        <div class="contact-icons">
          <div class="contact-icon">
            <a href="www.instagram.com/swywvng" target="_blank">
              <i class="ri-instagram-line"></i>
            </a>
            <a href="www.instagram.com/swywvng" target="_blank">
              <i class="ri-facebook-line"></i>
            </a>
            <a href="www.instagram.com/swywvng" target="_blank">
              <i class="ri-linkedin-line"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="right-contact">
        <form action="#" class="contact-form">
          <div class="input-control input-control-2">
            <input type="text" required placeholder="Your Name" />
            <input
              type="text"
              class="email"
              required
              placeholder="Your Email"
            />
          </div>
          <div class="input-control">
            <input type="text" required placeholder="Enter subject" />
          </div>
          <div class="input-control">
            <textarea
              name=""
              id=""
              cols="15"
              rows="8"
              placeholder="Meassage here..."
            ></textarea>
          </div>
          <div class="submit-btn">
            <a href="#" class="main-btn">
              <span class="btn-text">Submit</span>
              <span class="btn-icon"><i class="ri-download-2-fill"></i></span>
            </a>
          </div>

        </form>
      </div>
    </div>
  </section>
</main>

<div class="controls">
  <div class="control control-1 active-btn" data-id="home">
    <i class="ri-home-smile-2-fill"></i>
  </div>
  <div class="control control-2" data-id="about">
    <i class="ri-user-5-fill"></i>
  </div>
  <div class="control control-3" data-id="portfolio">
    <i class="ri-file-code-fill"></i>
  </div>
  <div class="control control-4" data-id="blogs">
    <i class="ri-edit-2-fill"></i>
  </div>
  <div class="control control-5" data-id="contact">
    <i class="ri-mail-open-fill"></i>
  </div>
</div>

<div class="theme-btn">
  <i class="ri-toggle-fill"></i>
</div>